h1 {
  text-align: center;
  color: #00009C
}

.interestList {
  color: #00009C;
}

.subList {
  color: black;
}

#firstText {
  text-align: center;
}

#secondText {
  text-align: center;
}

h2 {
  color: #00009C;
}

#emailLink {
  color: #00009C;
}